body { 
    width: 100vw;
    height: 100wh;
    text-align: center;
}

#a {
    background-color: blue;
}

#b {
    background-color: green;
}

#c {
    background-color: red;
}

.boxes {
    float: left;
    border: 1px solid yellow;
    box-sizing: border-box;
    width: 33.3vw;
    height: 100vh;
}